<% layout("/layouts/boilerplate") %>

    <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1 g-4 bg-img mt-3">
         <% for(let listing of allListings)  { %>
            <a href="/listings/<%= listing._id %>" class="show-info">
                <div class="card listing-card index-card">
                 <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-text"><b><%= listing.title %></b></p>
                        <p class="card-text">&#x20B9;<%=listing.price.toLocaleString("en-IN")%>/night
                    </div>
                </div>
                 <% } %>  
            </a> 
    </div>

